body {
    display: flex;
    flex-direction: column;
    margin: 0;


}

.hero {
    padding: 20px 200px 100px;
    display: flex;
    gap: 40px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 80px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    gap: 80px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 240px;
    background: #7d808a;
    color: #e5e7eb;
}
ul {
    display: flex;
    gap: 24px;
}

.hero, .footer {
    background: #1f2937;
}

a {
    text-decoration: none;
    color: white;
}

li, .secondary-text {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero h1, .secondary-text, ul {
    margin: 0 0 12px;
}

.hero h1 {
    font-size: 24px;
    color: #f9faf8;
}

.hero li {
    font-size: 18px;
    color: #e5e7eb;
}

.main-text {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0;
}

button, .call-to-action {
    background: #3882f6;
    color: #e5e7eb;
}

button {
    padding: 6px 26px;
    border-radius: 6px;
    box-shadow: none;
    border: 0;
    font-weight: bold;

}
.info .header {
    background: #f9faf8;
    font-size: 38px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background: #e5e7eb;
}

.quote :first-child {
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    color: #1f2937;
}

.quote :nth-child(2) {
    font-size: 22px;
    font-weight: 900;
}

.footer {
    color: #e5e7eb;
}